/* Montserrat Arabic */

@font-face {
  font-family: 'montserrat-arabicregular';
  src: url('fonts/mont-arabic/Montserrat-Arabic-Regular.woff2') format('woff2'),
  url('fonts/mont-arabic/Montserrat-Arabic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-arabiclight';
  src: url('fonts/mont-arabic/Montserrat-Arabic-Light.woff2') format('woff2'),
  url('fonts/mont-arabic/Montserrat-Arabic-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

