[lang="ar"]{


  .language-switch{


    .dropdown-menu{
      left: 0;
      right: auto;
    }

  }


  body , p, h1, h2, h3{
    font-family: 'montserrat-arabiclight', sans-serif;
  }

  p{
    text-align: right;
  }

  .chart-container .chart-title h2 {
    font-family: 'montserrat-arabiclight', sans-serif;
  }

  .story-box{
    text-align: right;
  }

  .state-of-logo{

    left: calc(50% - 40px);
    right: auto;
    z-index: 3;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      right: auto;
      left: 30px;
    }


  }


  .fixed-download img {
    left: 30px;
  }


  .highcharts-tooltip{

    span{
      text-align: right;
    }

  }




  ///////////////// NOT GENERIC


}
