/* Blockquotes */


blockquote{
  font-family: 'Merriweather', serif;
  letter-spacing:1px;
  display:block;
  float:left;
  width: 100%;
  margin: 10px 55px 35px 0;
  padding:19px 0 0 0;
  line-height: 1.7;
  border-left:0;

  &.right{
    margin: 10px 0 35px 55px;
    float:right;

    span{
      text-align: left;
    }

  }

  &.center{
    margin: 20px 0 60px 0;
    float:none;

    h3{
      font-style: normal;
      margin-bottom: 30px;
      font-size: 20px;
    }

    p{
      font-weight: 300;
    }

    h6{
      font-size: 12px;
    }

    .story-links{
      color: #c9c9c9;
    }


    @media (min-width: 992px) {
      margin: 20px 0 60px 0;
      width:100%;

    }


  }


  span{
    //display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    //text-transform: uppercase;
    letter-spacing: 0;
    margin-top: 15px;
    //text-align: right;
  }

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {

  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    margin: 10px 48px 20px -15%;
    width:329px;

    &.right{
      margin: 10px -15% 20px 48px;
    }

    &.story-block{
      width: 50%;

    }

  }

  /* Large devices (large desktops, 1200px and up) */
  //@media (min-width: 1200px) {  }


}
