/* Buttons */

.btn {
  font-size: 16px;
  //@include no-border-radius;
  @include no-outline;
  padding: 10px 12px 9px 12px;
}

.btn-sm {
  padding: 2px 7px 2px 7px;
  font-size: 12px;
}

.btn-primary {
  background-color: transparent;
  border-color: $primary-color;

  &:hover {
    background-color: lighten($primary-color, 10);
    border-color:  $primary-color;
  }


}

.btn-secondary {
  background-color: $text-secondary;
  border-color: transparent;
  font-weight: 600;
}




.btn-dark {
  background-color: transparent;
  border-color: white;
  color: white;
  font-weight: 600;


  &:hover {
    background-color: rgba(white, 0.5);
    border-color: white;
  }

}


