/* Charts */

.chart-container {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 60px 15px;
  background-color: $chart-background;

  .chart-title {
    text-align: center;

    h2 {
      font-size: 17px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      margin-bottom: 30px;
    }


    h6 {
      color: $text;
    }
  }

  h6 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 800;
    color: $text;
  }


  h6 a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: 800;
    color: $text;

    i {
      margin-right: 5px;
    }

    &:hover {
      text-decoration: none;

    }
  }


}

.highcharts-tooltip {


  > span {
    background-color: rgba(#ffffff, 0.9);
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 15px;


    span {
      font-size: 14px !important;
    }

    span:first-child {
      font-size: 18px !important;
      display: inline-block;
      margin-bottom: 10px;
      font-weight: 300;
    }

  }


}

.chart-internal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highcharts-legend-item {
  overflow: visible !important;


  span {
    font-size: 12px !important;
    color: $text !important;
    font-weight: normal !important;

  }

  > span {
    overflow: visible !important;
  }

  &:first-child {
    .undefined {
      background-color: #ff6600;
    }
  }

  &:last-child {
    .undefined {
      background-color: #4c5d6a;
    }
  }


}


.y-label {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 800;
  font-size: 11px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 5px;
}

p.note {
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: $text-secondary;

  &.note-white {
    color: $text-secondary;
  }

}

.stacked-label-shift {

  .highcharts-stack-labels {

    text {
      transform: translate(15px, 0);
    }


  }

}

.other-divider {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: $text-chart;
}


#annual-forest-area{

  .highcharts-tooltip {
    >span{

      @include transfor-me(translate(-35%, 20%));


      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        @include transfor-me(translate(-55%, -60%));

      }

      // Highchart change
      @media (min-width: 630px) {
        @include transfor-me(translate(-75%, -120%));
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        @include transfor-me(translate(-65%, -120%));
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        @include transfor-me(translate(-115%, -120%));
      }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {
        @include transfor-me(translate(-45%, -110%));
      }

      //// Super Extra large devices (large desktops, 1500px and up)
      @media (min-width: 1500px) {
        @include transfor-me(translate(-85%, -120%));

      }

    }


    .tooltip-point-item{

      &:nth-child(2){
        .tooltip-point-color{
          background-color: #00854a !important;
        }

      }

      &:nth-child(3){
        .tooltip-point-color{
          background-color: #9ccb3a !important;
        }

      }

      &:nth-child(4){
        .tooltip-point-color{
          background-color: #0087a6 !important;
        }

      }

    }

  }

}

#annual-forest-area, #annual-rate {

  .highcharts-tooltip {
    >span{
      display: flex;
      flex-direction: column-reverse;

      .tooltip-point-item-title{
        order: 1;
      }

    }
  }

}

.tooltip-point-item {
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  .tooltip-point-item-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300;
  }

  b {
    margin-left: 3px;
  }

}

.tooltip-point-color {
  display: inline-block;
  width: 5px;
  height: 5px;
  @include border-radius(50%);
  margin: 0 5px 0 0 !important;
}