// Default Style

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

//// Super Extra large devices (large desktops, 1500px and up)
@media (min-width: 1500px) {  }

html{
  height: 100%;
}

body {
  background-color: $background-color;
  width: 100%;
  height: 100%;


  &.padding-top {
    padding-top: 75px;
  }

}

.dr-container{
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  width: 100%;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 540px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 540px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 648px;
  }


  &.shifted{
    margin-top: -100px;
    background-color: white;
    z-index: 1;
    position: relative;


    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      margin-top: -150px;

      &:before{
        content: '';
        position: absolute;
        left: -30px;
        right: 0;
        width: calc(100% + 60px);
        height: calc(100% + 60px);
        background-color: white;
      }

    }


    hr{
      opacity: 0;
      margin-top: 0;
    }

  }

}





.dr-container-chart{

  margin: 0 auto;

  width: 100%;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 625px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 808px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 812px;
  }


}

.dr-container-chart-half{

  width: 100%;
  text-align: center;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {


  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 404px;
    text-align: left;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 406px;
  }


}




.audio-container{
  margin: 30px 0;
}

.website-showcase-container{
  margin: 60px 0;
}

.embargoed-div{
  background-color: red;
  color: white;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 32px;
  top: 53px;
  font-size: 20px;
  font-weight: bold;
  padding: 0 15px;
  opacity: 0;

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    top: 63px;
  }
}

.linkDwnPdf {
  font-size: 12px;
  font-weight: 800;
  display: block;
  position: relative;
  text-align: center;
  b {
    display: inline-block;
    position: relative;
    padding-left: 25px;
  }
  i {
    font-size: 20px;
    position: absolute;
    left: 0px;
    opacity: .5;
    top: -1px;
  }
}

.title-logo{
  margin: 20px 0 0 0;

  .title-logo-block-container{
    display: inline-block;

    h2{
      margin-top: 15px;
    }

  }

  img{
    width: 260px;
    height: auto;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 320px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      width: 350px;
    }


  }

}

.legend-text {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #999999;
    margin: 0;
    line-height: 1.1;
}

.state-of-logo{
  position: absolute;
  width: 80px;
  top: 30px;
  right: calc(50% - 40px);
  z-index: 3;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    width: 100px;
    top: 50px;
    right: 30px;
  }

  img{
    width: 100%;
    height: auto;
  }

}

.fixed-download{
  margin-top: 30px;
  margin-bottom: 30px;

  img{
    position: relative;
    left: -30px;
  }

  a{
    color: black;
  }

  i{
    position: relative;
    top: 7px;
    margin-right: 5px;
  }

  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 800;
  }

}

/// CUSTOM FOR THIS REPORT

#bioModal{

  .modal-title{
    color: $primary-color;
  }

  button.close{
    @include no-outline;
  }
}

