/* Footer */

footer{
  margin-top: 250px !important;
  padding-bottom: 100px;

  .section-title{
    color: $text-secondary;
    font-size: 14px;
    margin: 10px 0 20px 0;
    text-transform: uppercase;
    font-weight: 600;
  }

}

.footer-icon-list{
  margin-top: 15px;
  margin-bottom: 20px;

  border-bottom: 1px solid $hr;


  a{
    color: #b1bac3;

    &:hover{
      color: #b1bac3;
    }

    i.material-icons{
      font-size: 40px;

    }


  }
}


.footer-links{

  li{
    margin: 15px 0;
  }

}


.social-column{

  img{
    max-width: 200px;
  }

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {  }



  .fa, .fab{
    font-size: 23px;
    width: 40px;
    height: 40px;
    text-align: center;

    color: #b1bac3;


    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {
      width: 22%;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
      width: 18%;
    }

  }

  .store-box {
    width: 140px;
    height: 41px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    display: inline-block;

    &.apple{
      background-image: url(img/app-store.svg);
    }

    &.google{
      background-image: url(img/google-play.svg);
    }


  }

}

