/* Forest types */

.forest-types-container{
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    flex-direction: row;
    margin: 60px -100px;
    align-items: flex-start;
  }

}

.forest-types-card{
  background-color: #f8f8f8;
  padding: 30px;
  margin: 30px 0;
  -webkit-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);


  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    margin: 30px 15px;
    width: calc(50% - 30px);

  }


  p{
    margin-bottom: 0;
  }

  .forest-types-icon{
    background-color: white;
    height: 150px;
    margin: -30px -30px 30px -30px;

    .forest-types-video{
      width: 100%;
      height: auto;
      -o-object-fit: cover;
      object-fit: cover;
      object-position: center top;

    }

  }


  .forest-types-expand{
    margin-top: 15px;
    padding: 9px 15px;
    background-color: white !important;
    border-color: transparent !important;
    color: $text !important;
    -webkit-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
    //@include border-radius(0);


    @include animate();

    &:hover{
      -webkit-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
    }

    &:active{
      -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
      box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
    }

  }


  .forest-types-panel{

    h4.subcategories-title{
      margin-top: 30px;
      font-size: 12px;
      text-transform: uppercase;
      color: $text-light;
      border-top: 1px solid $text-light;
      padding-top: 10px;
      text-align: center;
    }

    h3{
      margin-top: 30px;
    }

    p{
      font-size: 14px;
    }



  }


}