.legend{


  .point{
    display: inline-block;
    width: 20px;
    height: 6px;
    @include border-radius(5px);
    margin: 0 5px;
    position: relative;
    top: -2px;
  }



  li{
    margin: 5px;
  }





  &.legend-proportion-introduced {

    ///text-align: right;

    color: $text-secondary;

    .point{
      height: 20px;
      @include border-radius(50%);
      top: 5px;
    }


    li:nth-child(1){ .point{ background-color: #99bb35 } }

    li:nth-child(2){ .point{ background-color: #51997c } }


  }

  &.legend-annual-forest-area {

    ///text-align: right;

    color: $text-secondary;

    .point{
      height: 20px;
      @include border-radius(50%);
      top: 5px;
    }


    li:nth-child(1){ .point{ background-color: #0087a6 } }

    li:nth-child(2){ .point{ background-color: #9ccb3a } }

    li:nth-child(3){ .point{ background-color: #00854a } }

  }

  &.legend-annual-rate {

    ///text-align: right;

    color: $text-secondary;

    .point{
      height: 20px;
      @include border-radius(50%);
      top: 5px;
    }


    li:nth-child(1){ .point{ background-color: #3aa08a } }

    li:nth-child(2){ .point{ background-color: #b1a7a5 } }


  }

  &.legend-annual-net {

    ///text-align: right;

    color: $text-secondary;

    .point{
      height: 20px;
      @include border-radius(50%);
      top: 5px;
    }


    li:nth-child(1){ .point{ background-color: #36723D } }

    li:nth-child(2){ .point{ background-color: #9fc436 } }


  }

  &.legend-forest-ownership{

    ///text-align: right;

    color: $text-secondary;

    .point{
      height: 20px;
      @include border-radius(50%);
      top: 5px;
    }


    li:nth-child(1){ .point{ background-color: #6d8c6f } }

    li:nth-child(2){ .point{ background-color: #98c22e } }

    li:nth-child(3){ .point{ background-color: #c3d1dc } }

  }


}


