/* Navbar */

.navbar{
  @include shadow;
  height: 54px;

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    height: 63px;
  }

}



.navbar-brand{
  position: relative;
  top:0;
  padding: 0;
  //width: 200px;


  img{
    height: 38px;

    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      height: 45px;
    }


  }





}


.language-switch{


  .dropdown-menu{
    left: auto;
    right: 0;
  }

  .dropdown-item{
    font-size: 12px;
  }



}
