/* Particles */


.particle-story-a-holder, .particle-story-b-holder {
  position: relative;
  //background-color: black;
  margin: 60px 0;
  //color: white;

  .trigger {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    position: relative;
    padding: 0 15px;

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      width: 50%;
    }

    h6 a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      font-size: 12px;
      font-weight: 800;
      color: white;

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
        justify-content: flex-start;
      }

      i {
        margin-right: 5px;
      }

      &:hover {
        text-decoration: none;

      }
    }

    p, h1, h2, h3 {
      font-family: 'Montserrat', sans-serif;
    }

    h1{
      margin-bottom: 0;
    }

    h1, h2, h3 {
      font-weight: 600;
    }

    h3{
      color: $text-light;
    }


    h1:first-child{
      font-size: 21px;

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {  }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {  }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {  }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {  }

      //// Super Extra large devices (large desktops, 1500px and up)
      @media (min-width: 1500px) {
        font-size: 35px;
      }


    }


    .p-numbers{
      font-size: 70px;
      margin-top: 0;
      line-height: 1;
      color: $primary-color;


      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
        font-size: 60px;
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {  }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {  }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {  }

      //// Super Extra large devices (large desktops, 1500px and up)
      @media (min-width: 1500px) {
        font-size: 100px;
      }

    }



  }

}


#particle-container, #particle-container-b {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  z-index: 2;


  .dragged-container {
    height: 100vh;
    width: 100%;
    position: relative;
    left: 0;
    //overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      width: 80%;
      max-width: 650px;
      @include transfor-me(translateX(-50%));
      left: 50%;
      padding: 0;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      max-width: 750px;
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      max-width: 850px;
    }


    //&:before{
    //  content: '';
    //  position: absolute;
    //  top: calc(50% - 150px);
    //  left: calc(50% - 150px);
    //  background-color: $primary-color;
    //  width: 300px;
    //  height: 300px;
    //  border-radius: 50%;
    //}

  }

  //// Large devices (desktops, 992px and up)
  //@media (min-width: 992px) {
  //  left: 50%;
  //  width: 50%;
  //}


  &.is-fixed {
    position: fixed;
  }

  &.is-bottom {
    top: auto;
    bottom: 0;

    canvas, .dragged-container {
      bottom: 0;
      position: absolute;
    }

  }


  canvas {
    display: block; /* fix necessary to remove space at bottom of canvas */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;



    &:focus {outline:0;}

  }


}


#particle-container-b {
  //background-color: red;
}

.cover-trigger {
  opacity: 0;
  @include animate();

  &.in {
    opacity: 1;

  }

}


.dr-container-chart-half {
  img{width: 100%}

}

[data-name='step-0'] {
  .dr-container-chart-half {
    position: relative;

  }
}


.p-messages{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 0 15px;


  p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
}