/* Quiz Style */

.quiz-container, .quiz-container-last{
  background-color: #f8f8f8;
  padding: 30px;
  margin: 30px 0;
  -webkit-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    margin: 60px -50px;

  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) {  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  }

  h1{
    font-size: 26px;


    /* Small devices (tablets, 768px and up) */
    @media (min-width: 768px) {
      font-size: 30px;

    }

    /* Medium devices (desktops, 992px and up) */
    @media (min-width: 992px) {  }

    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {  }



  }



}


.quiz-header, .quiz-footer{
  padding: 30px;
  background-color: $primary-color;

  h2,p{
    color: white;
    margin: 0;
  }

  h2{
    font-size: 20px;
    font-weight: 700;
  }
}

.quiz-header{
  margin: -30px -30px 0 -30px;
  margin-bottom: 30px;
}

.quiz-footer{
  margin: -30px;

  .quiz-share{
    margin-top: 15px;
  }

}

.quiz-question{
  overflow: hidden;
  margin-bottom: 30px;
}

.quiz-title{
  display: inline-block;
  background-color: rgba(#1b1d1f,0.1);
  border-radius: 15px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.question{
  font-weight: 600;
}
.answers {
  margin-bottom: 15px;
}


.answers label{
  font-size: 17px;
  width: 100%;
  cursor: pointer;
  padding-left: 35px;
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 15px;
  font-weight: normal;
  @include border-radius(12px);
  @include animate(0.5s);


  &:last-child{
    margin-bottom: 0;
  }

  &:before{
    content:'';
    display: block;
    position: absolute;
    left: 1px;
    background-color: rgba(#1b1d1f,0.1);
    pointer-events: none;
    width: 22px;
    height: 22px;
    @include border-radius(50%);
    top: 1px;
  }


  &:after{
    content:'';
    display: block;
    position: absolute;
    left: 3px;
    background-color: $primary-color;
    opacity: 0;
    pointer-events: none;
    width: 18px;
    height: 18px;
    @include border-radius(50%);
    @include transfor-me(scale(0));
    @include animate(0.5s);
    top: 3px;
  }


  &.correct{
    background-color: rgba($primary-color, 0.5);

    &:after{
      background-color: $primary-color;
    }

  }

  &.wrong{
    background-color: rgba(red, 0.5);

    &:after{
      @include transfor-me(scale(1));
      opacity: 1;
      background-color: red;
    }

  }


}

/* Hide the browser's default checkbox */
.answers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.answers input:checked + label {

  &:after{
    @include transfor-me(scale(1));
    opacity: 1;
  }
}



.statement{

  h2{
    font-size: 20px;
    margin-top: 30px;
    display: none;
  }

  p:last-child{
    margin-bottom: 0;
  }

}

.quiz-container.correct{

  .statement{



    h2.correct{
      display: block;
      color: $primary-color;
    }

  }

}

.quiz-container.wrong{

  .statement{



    h2.wrong{
      display: block;
      color: red;
    }

  }

}


.submit{
  margin-top: 15px;
  padding: 9px 15px;
  background-color: white !important;
  border-color: transparent !important;
  color: $text !important;
  -webkit-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 16px 27px 3px rgba(0, 0, 0, 0.1);
  //@include border-radius(0);


  @include animate();

  &:hover{
    -webkit-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
  }

  &:focus{
    -webkit-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 7px 21px 3px rgba(0, 0, 0, 0.15);
  }


  &:active{
    -webkit-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.18);
  }



}

