/* Typography */

body{
  font-family: 'Montserrat', sans-serif;
  color: $text;
  font-weight: 400;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;


}


h1,h2,h3 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 1.5;
  position: relative;
  z-index: 1;
}



h1{
  font-size: $h1-size-small;
  margin-bottom: 50px;

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: $h1-size;
    margin-top: 40px;
  }


}


h2{
  font-size: $h2-size-small;

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: $h2-size;
  }



}

h3{
  font-size: $h3-size-small;

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: $h3-size;
  }


}


h4{
  font-size: $h4-size-small;

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    font-size: $h4-size;
  }


}





h1 small{
  font-size: 50%;
  font-weight: 300;

}

h6 {
  font-weight: 700;
  font-size: 14px;
}

.highlighted-text-purple{
  color: #6464AB;
}


.highlighted-text-green{
  color: #95C11F;
}

.highlighted-text-blue{
  color: #45B2D9;
}

.highlighted-text-red{
  color: #df232b;
}


.paragraph_title {
  font-weight: 700;
  font-size: 26px;
  margin-top: 70px;
  margin-bottom: 30px;
}


.paragraph_subtitle {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 1.5;
}

.paragraph_sub_subtitle {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 19px;
  margin-bottom: 40px;
  line-height: 1.5;
}


p {
  font-size: 17px;
  line-height: 1.7;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;

  b{
    font-weight: 700;
  }

}


a{
  color: $text-link;
}




hr{
  border-top: 1px solid $text-secondary;
  max-width: 200px;
  margin-top: 60px;

}

.attribution{
  color: #999;
  margin: 15px;
}