/* Follow up variables */

$fao-digital-blue: #0055D1;

$primary-color: #40a148;

$text: #1b1d1f;
$text-secondary: #999999;
$text-light: #a1a1a1;

$text-chart: #6f6f6f;

$text-link: #0d6cac;

$hr: #e7e7e7;
$light-hr: #e8e9ea;

//$background-color: #f7f8f9;
$background-color: white;

$light-gray: #ebebeb;

$chart-background:#f7f7f7;


// So you can apply it to other elements
$h1-size-small: 26px;
$h2-size-small: 20px;
$h3-size-small: 18px;
$h4-size-small: 16px;



$h1-size: 35px;
$h2-size: 22px;
$h3-size: 20px;
$h4-size: 18px;