/* Annual forest */

.annual-forest-chart-container{

  margin: 0 auto;

  width: 100%;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 625px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 808px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 812px;
  }

  //// Super Extra large devices (large desktops, 1500px and up)
  @media (min-width: 1500px) {
    width: 1000px;
  }

}