/* Forest Ownershio */



.forest-ownership-container{
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 625px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 808px;

  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    width: 1100px;
    flex-wrap: nowrap;
  }

  //// Super Extra large devices (large desktops, 1500px and up)
  @media (min-width: 1500px) {
    width: 1400px;
  }

}


.quotes-container{
  position: absolute;
  width: 100%;
  height: 94%;
  top: 2%;
}

.forest-own-item{
  position: relative;
  margin: 30px 0;

  width: 50%;


  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    width: 33.33%;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    width: 25%;
  }




  .label{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: $text-secondary;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -30px;
  }

  .quotes{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: $text-secondary;
    text-transform: uppercase;
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;

    &:nth-child(1){

      &:before{
        position: absolute;
        content: '';
        width: calc(100% - 60px);
        height: calc(100% - 4px);
        top: 2px;
        left: 30px;
        background-color: rgba(#c5ced7, 0.4);
      }

    }

    &:nth-child(2){
      &:before{
        position: absolute;
        content: '';
        width: calc(100% - 60px);
        height: calc(100% - 4px);
        top: 2px;
        left: 30px;
        background-color: rgba(#96bf34, 0.4);
      }
    }

    &:nth-child(3){
      &:before{
        position: absolute;
        content: '';
        width: calc(100% - 60px);
        height: calc(100% - 4px);
        top: 2px;
        left: 30px;
        background-color: rgba(#6f8b71, 0.7);
      }
    }

  }

  &.africa{

    .quotes{

      &:nth-child(1){
        height: 19%;
      }

      &:nth-child(2){
        top:19%;
        height: 6%;
      }

      &:nth-child(3){
        top:25%;
        height: 75%;
      }


    }

  }

  &.asia{

    .quotes{

      &:nth-child(1){
        height: 4%;
      }

      &:nth-child(2){
        top:4%;
        height: 18%;
      }

      &:nth-child(3){
        top:23%;
        height: 77%;
      }


    }

  }

  &.europa{

    .quotes{

      &:nth-child(1){
        height: 0;
      }

      &:nth-child(2){
        top:2%;
        height: 9%;
      }

      &:nth-child(3){
        top:11%;
        height: 89%;
      }


    }

  }

  &.america{

    .quotes{

      &:nth-child(1){
        height: 4%;
      }

      &:nth-child(2){
        top:4%;
        height: 36%;
      }

      &:nth-child(3){
        top:40%;
        height: 60%;
      }


    }

  }

  &.oceania{

    .quotes{

      &:nth-child(1){
        height: 4%;
      }

      &:nth-child(2){
        top:4%;
        height: 47%;
      }

      &:nth-child(3){
        top:51%;
        height: 49%;
      }


    }

  }

  &.s-america{

    .quotes{

      &:nth-child(1){
        height: 6%;
      }

      &:nth-child(2){
        top:6%;
        height: 33%;
      }

      &:nth-child(3){
        top:39%;
        height: 61%;
      }


    }

  }

  &.world{

    .quotes{

      &:nth-child(1){
        height: 5%;
      }

      &:nth-child(2){
        top:5%;
        height: 21%;
      }

      &:nth-child(3){
        top:26%;
        height: 74%;
      }


    }

  }

}

.tree-video{
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center top;
}