/* Proportion of Global */


.proportion-of-global{
  position: relative;

  .areas-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;

    @include animate(1s);

    &.in{
      opacity: 1;
    }

    &.hide{
      opacity: 0;
    }

    &.tropical{
      background-image: url("../images/areas-tropical.png");
    }

    &.boreal{
      background-image: url("../images/areas-boreal.png");
    }

    &.temperate{
      background-image: url("../images/areas-temperate.png");
    }

    &.subtropical{
      background-image: url("../images/areas-subtropical.png");
    }




  }

}

.areas-instructions{
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: $text-secondary;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.areas-switches{
  display: flex;
  margin: 15px 0;

  .areas-switch{
    width: 25%;
    text-align: center;
    padding: 0 5px;
    cursor: pointer;

    &:hover{

      .areas-ico {
        top: -10px;
      }

    }


    .areas-ico{
      position: relative;
      @include animate();
      top: 0;

      &:before{
        content:'';
        position: absolute;
        z-index: 2;
        background-color: $chart-background;
        height: 7px;
        width: 100%;
        bottom: 0;
        left: 0;
        /// SHAMEEEE
      }

      &:after{
        content:'';
        position: absolute;
        z-index: 3;
        background-color: $text-light;
        height: 1px;
        width: 100%;
        bottom: 6px;
        left: 0;
        /// REVENGE
      }

      video{
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        object-position: center top;
        position: relative;
        z-index: 1;
      }

    }


    span{
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      color: $text;
    }

    p{
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-weight: 600;
      color: $text-secondary;
      text-transform: uppercase;
      margin-bottom: 0;


      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
        font-size: 22px;
      }

    }

  }
}